@import "tailwindcss";


.gallery-section {
  background-color: #141D2B;
  padding: 3rem 0;
}

  .welcome-container {
      background-color: #4169E1       ;
      border-radius: 30px;
      color: white; 
      font-family: 'Poppins', sans-serif;
  }
  body {
    background-color: #1A2332; /* Celeste */
    color: #ffffff; /* Opcional: Cambiar color del texto */

.carousel-section {
    background-color: #1A2332;
  }
  }
  header {
    background-color: #141D2B; 
    color: white;
    padding: 15px; 
}

footer {
    background-color: #1A2332; 
    color: white; 
    text-align: center;
    padding: 10px;
}