.cardOne {
  width: 700px;
  height: 95px;
  margin: 0 auto;
  background-color: #1A2332;
  border-radius: 8px;
  position: relative; 
  overflow: hidden;
  box-shadow: 0px 10px 15px rgba(89, 114, 226, 0.5);
}


.cardtwo {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #555;
    border-radius: 8px;
    position: relative; 
    z-index: 1;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
    gap: 4px; 
}

.circle {
    padding: 0 4px;    
}

.box {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
.cardContainer {
    margin-bottom: 20px; 
  }

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}




.inputwrapper input {
  margin-bottom: 10px;
  background-color: #555555;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 20em;
  border-radius: 1rem;
  color: #5972e2;
  box-shadow: 0 0.2rem #575656;
  cursor: pointer;

}

.inputwrapper input:focus {
  outline-color: #5972e2;
}







  