/*Neo Brutalism pricing card*/
.card {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter; /* Para todo el contenido */
    font-size: 0.8em; /* Ajusta el tamaño del texto */

      width: 85%;
      height: 65%;
      /* background: #4169E1; */
      padding: 0.009rem;
      border-radius: 2rem;
      /* border: 0.5vmin solid #e6121c; */
      /* box-shadow: 0.4rem 0.4rem #071eeb; */
      overflow: hidden;
      
      color: black;
    }
    .miImagenEstilo {
        width: 120px; /* Anchoa  */
        height: 120px; /* Altura mi bro */
        object-fit: cover; 
      }


/* para el hover, el transition y el transform sisabe */


      .container {
        display: flex;
        gap: 20px;
        overflow-x: auto;
        padding: 10px;
        justify-content: center;
      }
      
      .template {
        width: 85%;
        height: 98%;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        transition: border 0.1s ease-in-out;
        cursor: pointer;
      }
      
      .template img {
        width: 100%;
        border-radius: 5px;
      }
      
      .title {
        margin-top: 5px;
        font-size: 14px;
      }
      
      .template:hover {
        border: 1px solid #1291e6;
      }