<%- include('../partial/header'); -%>

<div class="container py-5 text-center text-white" style="background-color: #5F9EA0; border-radius: 30px;">
  <h1>Empieza a crear</h1>
</div>

<style>
  body {
    background-color: #f8f9fa; /* Color de fondo principal */
  }

  .acuarela-fondo {
    background: linear-gradient(to top, #5F9EA0, rgba(95, 158, 160, 0.3), rgba(245, 245, 245, 0));
    position: relative;
    height: 200px; /* Ajusta el tamaño según lo que necesites */
    width: 100%;
    bottom: 0;
    left: 0;
  }
</style>

<div class="acuarela-fondo"></div>
<%- include('../partial/footer'); -%>


