<%- include('../partial/header'); -%>

  <div style="background-color:sandybrown ; padding: 50px 0px 50px 0px; color: blanchedalmond; text-align: center;">
    <h1> Tamo activo papi </h1>
    <p><%= message %></p>  <!-- Aquí usamos EJS para insertar la variable 'message' -->
  </div>
  <%- include('../partial/footer'); -%>

