<%- include('../partial/header'); -%>

<div class="container py-5 text-center text-white bg-primary" >
  <h1> EL RRRREPERRRTORIOOOO</h1>
    <!-- <h1><i class='bx bxs-dizzy'></i></h1> -->
  </div>
  <%- include('../partial/footer'); -%>

