<%- include('../partial/header'); -%>

  <div style="background-color: rebeccapurple; padding: 50px 0px 50px 0px; color: blanchedalmond; text-align: center;">
    <h1> EL RRRREPERRRTORIOOOO</h1>
    <!-- <h1><i class='bx bxs-dizzy'></i></h1> -->
  </div>
  <%- include('../partial/footer'); -%>

