.background {
    background: linear-gradient(#403e8d, #1A2332);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
    z-index: 10;
  }
 
  .cardAbajoDerecha {
    padding-top: 65px;
    position: absolute;
    bottom: 15%;  /* Subimos la carta para que no quede tan afuera */
    right: 50%;  /* Movemos un poco hacia adentro */
}

.snt{
    font-family: 'Lobster', sans-serif;
    font-size: 55px ;
    /* font-weight: bold ; */
    color: white;
    text-align: center;
    margin-top: 300px;  /* Ajuste mínimo */

    
  }

  .rnt {
    font-family: 'Lobster', sans-serif;
    font-size: 25px;
    color: grey;
    text-align: center;
    margin-top: 5px;  /* Ajuste mínimo */
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center; /* Asegura que todo esté alineado */
    gap: 5px;  /* Pequeño espacio entre h1 y p */
}


.ttt{
  font-family: 'Lobster', sans-serif;
  font-size: 25px ;
  /* font-weight: bold ; */
  color: white;
  text-align: center;

  
}
