

/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Aplicar la fuente a todo el cuerpo del documento */
body {
  font-family: 'Fjalla One', sans-serif;
}

/* Aplicar la fuente solo a títulos */
h1, h2, h3 {
  font-family: 'Fjalla One', sans-serif;
}

/* O puedes aplicar a clases específicas */
.titulo-principal {
  font-family: 'Fjalla One', sans-serif;
}

.bg-terracota {
  background-color: #8B4513; /* Color marrón o terracota */
  color: white; /* Mantiene el texto en blanco para contraste */
}

/* Sobrescribir bg-primary con marrón terracota */
/* Sobrescribir bg-primary con marrón terracota para toda la página */
.bg-primary {
  background-color: #8B4513 !important; /* Color marrón */
  color: white !important; /* Color del texto en blanco */
}

/* Sobrescribir específicamente el color de la barra de navegación */
.navbar {
  background-color: #8B4513 !important;
  color: white !important;
}

.navbar .nav-link {
  color: white !important; /* Asegura que el texto también sea blanco */
}

.navbar .nav-link.active {
  background-color: #6A3C2C !important; /* Un tono más oscuro para la opción activa */
}

