@import "tailwindcss";


.gallery-section {
  background-color: #0F172A  ;
  padding: 3rem 0;
}

  .welcome-container {
      border-radius: 30px;
      color: white; 
      font-family: 'Poppins', sans-serif;
  }
  body {
    background-color: #0F172A  ; /* Celeste */
    color: #ffffff; /* Opcional: Cambiar color del texto */

.carousel-section {
    background-color: #0F172A  ;
  }
  }
  header {
    background-color: #0F172A  ; 
    padding: 15px; 
}

footer {
    background-color: #0F172A  ; 
    color: white; 
    text-align: center;
    padding: 10px;
}