.cardOne {
    width: 550px;
    height: 80px;
    margin: 0 auto;
    background-color: #555;
    border-radius: 8px;
    position: relative; 
    z-index: 1;
}
.cardtwo {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #555;
    border-radius: 8px;
    position: relative; 
    z-index: 1;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
    gap: 4px; 
}

.circle {
    padding: 0 4px;    
}

.box {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}
.cardContainer {
    margin-bottom: 20px; /* Ajusta el espacio entre elementos */
  }

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}


.micolorsection {
  background-color: #1A2332;
}


.inputwrapper input {
  margin-bottom: 20px;
  background-color: #a09c9c;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 20em;
  border-radius: 1rem;
  color: #5972e2;
  box-shadow: 0 0.2rem #575656;
  cursor: pointer;
}

.inputwrapper input:focus {
  outline-color: #5972e2;
}




/* para el bottom */



.bottomarrowcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem -25px;
    
  }
  
  .bottomarrowbutton {
    padding: 0.2rem;
    border-radius: 50%;
    background-color: #d1d5db; /* gray-300 */
    color: #4b5563; /* gray-600 */
    transform: rotate(-90deg);
    transition: transform 0.2s ease, background-color 0.3s ease;
    border: none;
    cursor: pointer;
  }
  
  .bottomarrowbutton:hover {
    transform: scale(1.2);
    background-color: #9ca3af; /* gray-400 */
    color: #333;
  }
  
  .bottomarrowbutton:active {
    transform: scale(0.9);
  }